/* Container */
.container {
  padding: 50px;                      /* Space from top */
  max-width: 400px;                   /* Width of container */
  margin: auto;                       /* Automatic margin control */
  font-family: Arial, Helvetica, sans-serif;     /* Font */
}

/* Application Title */
.title {
  font-size: 50px;                    /* Size Font */
  font-weight: bold;                  /* Font Style */
  margin-bottom: 20px;                /* Margin space */
  text-align: center;                 /* Alignment */
}

/* Textbox */
.input {
  width: calc(100% - 50px);           /* Position using calc method */
  padding: 8px;                       /* Size of textbox */
  margin-bottom: 10px;                /* Margin sapce */
}

/* Buttons */
button {
  margin: 5px;                        /* margin space */
  background-color: #000000;        /* button color */
  color: white;                     /* Text color */
  padding: 10px 15px;                 /* Distance from button label to border */
}

/* Disabled button */
button:disabled {
  background-color: #777777;           /* Shadow button */
}

/* Added Task */
.task {
  justify-content: space-between;     /* alignment */
  align-items: center;                /* Alignment */
  padding: 15px;                          /* Padding */
  border-bottom: 1px solid #000000;    /* Seperator */
}

/* Finished Task */
.doneTask {
  text-decoration: line-through;      /* Text Effect */
  color: gray;                      /* Make button grey */
}